{% extends 'base.html' %}
{% load custom_filters %}   <!--j name file khola hoice .py bad a shei ongsho-->

{% block title_block %} Home {% endblock  %}

{% block body_block %}

<h3>home page</h3>

{% for blog in blogs %}

    <h3>{{blog.blog_title}}</h3>
    <h6><i>{{blog.publish_date}}</i></h6>
    <div class="row">
        
        <div class="col-sm-4">
            <img src="/media/{{blog.blog_image}}" alt="{{blog.blog_image}} title="{{blog.blog_title}} width="100%">
        </div>

        <div class="col-sm-8">
            <p>{{blog.blog_content|range_filter|linebreaks}} <a href="{% url 'app_blog:blog_details' slug=blog.slug %}">read more</a></p>  <!--linebreaks build in fuilter-->
            <h6>Posted By: <a href="#">@{{blog.author}}</a></h6>
            
        </div> 
    </div>
    <hr>

{% endfor %}
{% endblock %}

